# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Telegram Bot
TG_API_TOKEN="00000:your-tg-bot-token-here"
NEXT_PUBLIC_TG_APP_URL="https://t.me/{bot_name}/{mini_app_name}"
NEXT_PUBLIC_SITE_URL="https://{public_app_url}"

# Convex
CONVEX_DEPLOYMENT="dev:{your-deployment-name}"
NEXT_PUBLIC_CONVEX_URL="https://{your-deployment-name}.convex.cloud"